body {
    max-width: 650px;
    margin: 40px auto;
    padding: 0 10px;
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #444
}

h1,
h2,
h3 {
    line-height: 1.2
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background: #444
    }
    a:link {
        color: #5bf
    }
    a:visited {
        color: #ccf
    }
}

form [type=submit] {
    background-color: #226b28; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    filter: drop-shadow(0 0.1rem 0.1rem #051f04);
}

form [type=submit]:hover {
    background-color: #1c581f; /* Darker green */
    cursor: pointer;
}

table {
    text-align: left;
    border-spacing: 20px;
}

td {
    padding: 10px 0;
}

.dropzone {
    width: 200px;
    height: 20px;
    background: blueviolet;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
    filter: drop-shadow(0 0.1rem 0.1rem #051f04);
}

.dropzone:hover {
    background: #7224b5; /* Darker blueviolet */
    cursor: grab;
}

.dropzone:active {
    cursor:grabbing;
}

.button {
    background-color: #226b28; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    filter: drop-shadow(0 0.1rem 0.1rem #062f05);
}

.button:hover {
    background-color: #1c581f; /* Darker green */
    cursor: pointer;
}

#send-updates {
    display: none;
}

#errormessage {
    font-size: 14px;
    border-radius: 8px;
    background-color: #272727;
    padding: 10px 20px;
    color: red;
    display: none;
}

#root-category {
    cursor: not-allowed;
}

#root-category:hover {
    background: blueviolet;
}