<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<section th:fragment="category">
  <ul>
    <li th:each="cat : ${maincategories}">
      <span th:text="${cat.getId()} + '-' + ${cat.getName()}">Main Cat</span><a th:href="@{/GoToMoveCategory(toMove=${cat.getId()})}"> >>sposta</a>
      <section th:insert="fragments/categoryFragment :: category" th:with="maincategories=${cat.getSubCategories()}"></section>
    </li>
  </ul>
</section>
</body>
</html>